<form id="js-festa-add-form" ng-submit="festaAdd.saveEvento(novoEvento)" method="post">
    <label for="nome-evento">Nome do Evento</label>
        <input id="nome-evento" type="text" ng-model="novoEvento.name">
    <label for="descricao-evento">Descrição do evento</label>
        <input id="descricao-evento" type="text" ng-model="novoEvento.description">
    <label for="descricao-evento">Festa pública?</label>
        <input id="descricao-evento" type="checkbox" ng-model="novoEvento.public">

    <input type="submit" value="Salvar">
</form>
